program: nlp_hw2.py
method: bayes
metric:
  name: val_accuracy
  goal: maximize
early_terminate:
  type: hyperband
  min_iter: 2
count: 15
parameters:
  lr:
    distribution: log_uniform_values
    min: 0.001
    max: 0.01
  weight_decay:
    distribution: log_uniform_values
    min: 0.0001
    max: 0.01
  rnn_type:
    values: ['LSTM', 'GRU', 'RNN']
